[Unit]
Description=Teleport SSH Service
After=network.target

[Service]
Type=simple
Restart=on-failure
EnvironmentFile=-/etc/default/teleport
ExecStart=/usr/local/bin/teleport start --config={{ teleport_config_path }} --pid-file={{ teleport_pidfile }}
ExecReload=/bin/kill -HUP $MAINPID
PIDFile={{ teleport_pidfile }}
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target